:root {
    --glitch-white: rgb(238,247,247);
    --glitch-red: rgb(248,9,16);
    --glitch-yellow: rgb(249,251,15);
    --glitch-green: rgb(4,254,0);
    --glitch-black: rgb(23,26,23);
    --glitch-blue: rgb(4,4,242);
    --glitch-aqua: rgb(19,253,243);
    --glitch-pink: rgb(245,29,245);
}

.glitch-white {
    stroke: var(--glitch-white);
    fill: var(--glitch-white);
}

.glitch-red {
    stroke: var(--glitch-red);
    fill: var(--glitch-red);
}

.glitch-yellow {
    stroke: var(--glitch-yellow);
    fill: var(--glitch-yellow);
}

.glitch-green {
    stroke: var(--glitch-green);
    fill: var(--glitch-green);
}

.glitch-black {
    stroke: var(--glitch-black);
    fill: var(--glitch-black);
}

.glitch-blue {
    stroke: var(--glitch-blue);
    fill: var(--glitch-blue);
}

.glitch-aqua {
    stroke: var(--glitch-aqua);
    fill: var(--glitch-aqua);
}

.glitch-pink {
    stroke: var(--glitch-pink);
    fill: var(--glitch-pink);
}

.top-animation {
    position: fixed;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: navy;
    opacity: 0.5;;
    z-index: 2000;
}

.bottom-animation {
    position: fixed;
    height: 50%;
    width: 100%;
    top: 50%;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: 2000;
}

.top-svg {
    width: 100%;
    height: 100%;
}

.bottom-svg {
    width: 100%;
    height: 100%;
}


