:root {
  --hover: pointer;
  --not-hover: auto;
}

.about-section-container {
  background: var(--glitch-black);
  color: var(--glitch-white);
  padding: 2em;
  border-radius: 2em;
  position: relative;
}

.about-section-button-container {
    text-align: center;
}

.about-section-contact-button-image {
    background: url(../../assets/images/email.svg);
    background-repeat: no-repeat;
}

.about-section-technologies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
}

.technology-container-outer {
  border-radius: 2em;
  color: var(--glitch-white);
  position: relative;
  width: 100%;
  height: 2.5em;
  overflow: hidden;
}

.technology-container-outer:hover {
  cursor: wait;
}

.tech-text-container {
  width: 100%;
  text-align: center;
}

.technology-container-mask {
  transition: all 1s;
  border-radius: 2em;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, 
      var(--glitch-light-shadow),
      var(--glitch-black), 
      var(--glitch-black),
      var(--glitch-black),
      var(--glitch-black),
      var(--glitch-light-shadow));
}

.technology-container-outer:hover > .technology-container-mask {
  
  animation: tech-hover-animation .25s ease-in;
  background-image: linear-gradient(180deg, 
      var(--glitch-aqua),
      var(--glitch-aqua),
      var(--glitch-black), 
      var(--glitch-black),
      var(--glitch-black),
      var(--glitch-black),
      var(--glitch-aqua),
      var(--glitch-aqua));
}

@keyframes tech-hover-animation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(6) rotate(90deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}

.technology-container-inner {
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.technology-container-outer:hover {
  box-shadow: 0 0 10px 0 var(--glitch-aqua) inset, 0 0 10px 4px var(--glitch-aqua);
}

@media (max-width: 800px) {
    .about-section-technologies-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}


@media (max-width: 685px) {
    .about-section-technologies-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .fifteen-plus {
      display: none;
    }
}

@media (max-width: 535px) {
    .about-section-technologies-container {
        grid-template-columns: 1fr 1fr;
    }
    .ten-plus {
      display: none;
    }
}

@media (max-width: 420px) {
    .about-section-technologies-container {
        grid-template-columns: 1fr;
    }
    .five-plus {
      display: none;
    }
}

.animate__animated.animate__delay-500ms {
  -webkit-animation-delay: calc(1s * 0.5);
  animation-delay: calc(1s * 0.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 0.5);
  animation-delay: calc(var(--animate-delay) * 0.5);
}

.animate__animated.animate__delay-1500ms {
  -webkit-animation-delay: calc(1s * 1.5);
  animation-delay: calc(1s * 1.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 1.5);
  animation-delay: calc(var(--animate-delay) * 1.5);
}

.animate__animated.animate__delay-2500ms {
  -webkit-animation-delay: calc(1s * 2.5);
  animation-delay: calc(1s * 2.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 2.5);
  animation-delay: calc(var(--animate-delay) * 2.5);
}

.animate__animated.animate__delay-3500ms {
  -webkit-animation-delay: calc(1s * 3.5);
  animation-delay: calc(1s * 3.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 3.5);
  animation-delay: calc(var(--animate-delay) * 3.5);
}

@-webkit-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.animate__fadeInOutDown {
  -webkit-animation-name: fadeInOutDown;
  animation-name: fadeInOutDown;
}

#technologies-intro {
  padding-right: 3.5em;
  padding-bottom: 1em;
}

#technologies-outro {
  text-align: right;
  padding-bottom: 0.5em;
  padding-top: 2em;
  padding-left: 3.5em;
}



.technology-container-outer:hover > 
.technology-container-inner > 
.tech-text-container:not(:empty){
  cursor: pointer;
  color: var(--glitch-pink);
  text-decoration: underline;
}

@media (max-width: 767px) {
  #technologies-intro {
    padding-right: 1.5em;
  }
  #technologies-outro {
    padding-left: 1.5em;
  }
}

@media (max-width: 420px) {
  #technologies-intro {
    padding-right: 0;
  }
  #technologies-outro {
    padding-left: 0;
  }
}



