.about-section-container {
  background: var(--glitch-black);
  color: var(--glitch-white);
  padding: 2em;
  border-radius: 2em;
}

.about-section-button-container {
    text-align: center;
}

.about-section-contact-button-image {
    background: url(../../assets/images/email.svg);
    background-repeat: no-repeat;
}

.about-section-technologies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
}

.technology-container-outer {
  color: var(--glitch-white);
  position: relative;
  width: 100%;
  height: 2.5em;
  overflow: hidden;
}

.tech-text-container {
  width: 100%;
  text-align: center;
}

.technology-container-mask {
  border-radius: 2em;
  border-top: 1px solid var(--glitch-light-shadow);
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(174deg, 
       var(--glitch-black), var(--glitch-black), var(--glitch-black),
      var(--glitch-black), var(--glitch-aqua) , var(--glitch-black), 
      var(--glitch-black), var(--glitch-pink), var(--glitch-black),
      var(--glitch-black), var(--glitch-green), var(--glitch-black),
      var(--glitch-black), var(--glitch-black), var(--glitch-black),
      var(--glitch-black), var(--glitch-black), var(--glitch-black),
      var(--glitch-black), var(--glitch-black), var(--glitch-black),
      var(--glitch-black), var(--glitch-black), var(--glitch-black),
      var(--glitch-black), var(--glitch-aqua) , var(--glitch-black), 
      var(--glitch-black), var(--glitch-blue), var(--glitch-black),
      var(--glitch-black), var(--glitch-green), var(--glitch-black),
      var(--glitch-black), var(--glitch-black), var(--glitch-black));
}

.technology-container-inner {
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

@media (max-width: 767px) {
    .about-section-technologies-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}


@media (max-width: 576px) {
    .about-section-technologies-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .fifteen-plus {
      display: none;
    }
}

.animate__animated.animate__delay-500ms {
  -webkit-animation-delay: calc(1s * 0.5);
  animation-delay: calc(1s * 0.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 0.5);
  animation-delay: calc(var(--animate-delay) * 0.5);
}

.animate__animated.animate__delay-1500ms {
  -webkit-animation-delay: calc(1s * 1.5);
  animation-delay: calc(1s * 1.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 1.5);
  animation-delay: calc(var(--animate-delay) * 1.5);
}

.animate__animated.animate__delay-2500ms {
  -webkit-animation-delay: calc(1s * 2.5);
  animation-delay: calc(1s * 2.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 2.5);
  animation-delay: calc(var(--animate-delay) * 2.5);
}

.animate__animated.animate__delay-3500ms {
  -webkit-animation-delay: calc(1s * 3.5);
  animation-delay: calc(1s * 3.5);
  -webkit-animation-delay: calc(var(--animate-delay) * 3.5);
  animation-delay: calc(var(--animate-delay) * 3.5);
}

@-webkit-keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.animate__fadeInOutDown {
  -webkit-animation-name: fadeInOutDown;
  animation-name: fadeInOutDown;
}

