* {
    box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/neutra-text-alt');

.standard-margin {
    margin-top: 7rem;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    font-family: "Neutra Text Alt", sans-serif;
    font-weight: 400;
    background-color: var(--glitch-white);
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--glitch-dark-shadow);
    font-size: 1.1rem;
    
}

#root {
    margin: 0;
    padding: 0;
    position: relative;
}

#n {
    position: fixed;
    height: 4em;
    width: 100%;
    z-index: 9000;
    top: 0;
    left: 0;
}

p {
    line-height: 1.7em;
    font-size: 1.4rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.section-one {
    padding-top: 10vh;
}

.section-heading {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.section-sibling {
    padding-bottom: 2.5rem;
}

.bottom-github-link-heading {
    margin-top: 5rem;
}

.box-shadow {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
    filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.box-shadow-two {
    -webkit-filter: drop-shadow( 1px 1px .75px var(--glitch-dark-shadow));
        filter: drop-shadow( 1px 1px .75px var(--glitch-dark-shadow));
}

.container-intro {
    font-size: 150%;
}

.container-outro {
    font-size: 130%;
}


#s2sh {
    display: inline-block;
    max-width: 30ch;
}

#s3h {
    margin-left: min(100% - 256px, 45%);
}

#s3sh {
    display: inline-block;
    max-width:30ch;
    margin-left: min(100% - 256px, 45%);
}

.github-work-link, .github-work-link:visited, 
    .-work-link, .github-work-link:active {
  color: var(--glitch-pink);
}

.contact-scroll-link, .contact-scroll-link:visited, 
    .contact-scroll-link, .contact-scroll-link:active {
  color: var(--glitch-pink);
}
.github-work-link:hover {
    text-decoration: underline;
}

.bottom-github-link, .bottom-github-link:visited,
.github-work-link:hover, .bottom-github-link:active {
    color: var(--glitch-pink);
}

.bottom-github-link:hover {
    text-decoration: underline;
}

.contact-scroll-link:hover {
    text-decoration: underline;
}


h2 {
    font-size: 300%;
    margin-bottom: .25em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--glitch-black);
}

.links-box {
    display: inline-block;
    border-radius: .525em;
    position: fixed;
    width: 12.2em;
    height: 4.2em;
    bottom: .5em;
    left: 1.5em;
    z-index: 10998;
    background-color: var(--glitch-light-shadow);
    border: 1px solid var(--glitch-dark-shadow);
}

.dark-button-container {
    display: inline-block;
    border-radius: 50%;
    position: fixed;
    width: 3.2em;
    height: 3.2em;
    border: 2px solid var(--glitch-pink);
    bottom: 1em;
    left: 2em;
    z-index: 10999;
    color: var(--glitch-black);
}

.github-button-container {
    display: inline-block;
    border-radius: 50%;
    position: fixed;
    width: 3.2em;
    height: 3.2em;
    border: 2px solid var(--glitch-pink);
    bottom: 1em;
    left: 6em;
    z-index: 10999;
    color: var(--glitch-black);
}

.linkedin-button-container {
    display: inline-block;
    border-radius: 50%;
    position: fixed;
    width: 3.2em;
    height: 3.2em;
    border: 2px solid var(--glitch-pink);
    bottom: 1em;
    left: 10em;
    z-index: 10999;
    color: var(--glitch-black);
}

.dark-button-container:hover {
    color: var(--glitch-pink);
}


.faded-out {
    opacity: 0;
    pointer-events: none;
}

.project-card-container-m-left {
    margin-left: 45%;
}

.project-card-container-m-right {
    margin-right: 45%;
}

.content {
    margin: 2em;
    margin-top: 0;
    padding-bottom: 5.7em;
}

.bottom-github-link-container {
    text-align: center;
}

@media(max-width: 576px) {
    .project-card-container-m-left {
        margin-left: 30%;
    }

    .project-card-container-m-right {
        margin-right: 30%;
    }
}

@media(max-width: 768px) {
    .project-card-container-m-left {
        margin-left: 10%;
    }

    .project-card-container-m-right {
        margin-right: 10%;
    }
}

@media(max-width: 576px) {
    .project-card-container-m-left {
        margin-left: 0;
    }

    .project-card-container-m-right {
        margin-right: 0;
    }
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--glitch-white)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--glitch-dark-shadow);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--glitch-aqua);
}

