* {
    box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/neutra-text-alt');

.standard-margin {
    margin-top: 3rem;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
    padding: 0;
}

body {
    font-family: "Neutra Text Alt", sans-serif;
    font-weight: 400;
    background-color: var(--glitch-white);
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.project-card-container-m-left {
    margin-left: 45%;
}

.project-card-container-m-right {
    margin-right: 45%;
}

.project-card-container, .project-card-container-m-right > div {
    margin-bottom: 2em;
    
}

.content {
    margin: 2em;
}

@media(max-width: 576px) {
    .project-card-container-m-left {
        margin-left: 30%;
    }

    .project-card-container-m-right {
        margin-right: 30%;
    }
}

@media(max-width: 768px) {
    .project-card-container-m-left {
        margin-left: 10%;
    }

    .project-card-container-m-right {
        margin-right: 10%;
    }
}

@media(max-width: 576px) {
    .project-card-container-m-left {
        margin-left: 0;
    }

    .project-card-container-m-right {
        margin-right: 0;
    }
}

