.standard-margin {
    margin-top: 3rem;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
    padding: 0;
}

body {
    background-color: var(--glitch-white);
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.project-cards-container > div {
    flex: 40%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 2em;
}

