button {
    border: 2px solid black;
    border-radius: .25rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    height: 2em;
    width: 15em;
    margin-bottom: 2em;
}

.button-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.button-content {
    display: block;
    padding: 5%;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form-button-content {
    height: 100%;
    z-index: 200;
}

.button-link-content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button-image {
    flex: 1;
    height: 100%;
}

.button-text {
    flex: 6;
    height: 100%;
    text-align: center;
}