button {
    border: 2px solid var(--glitch-light-shadow);
    background-color: var(--glitch-pink);
    color: var(--glitch-white);
    border-radius: .25rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    height: 2em;
    width: 15em;
    margin-bottom: 2em;
    color: var(--glitch-black)
}

.button-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.button-content {
    display: block;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    top: 0;
    left: 0;
}

.form-button-content {
    display: block;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    top: 0;
    left: 0;
}

.button-link-content {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.button-image {
    display: inline-block;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
}

.button-image > image {
    height: 100%;
}

.button-text {
    display: inline-block;
    position: absolute;
    top: 12%;
    left: -5%;
    padding-left: 15%;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 105%;
}
