.form-submission-button {
  width: 15em;
  height: 2em;
}
.form-submission-button-image {
  background: url(../../assets/images/website.svg);
  background-repeat: no-repeat;
}

.form-container {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

input {
  display: block;
  width: 100%;
  border-radius: 1em;
}

textarea {
  display: block;
  width: 100%;
  border-radius: 1em; 
  resize: none;
}