/* adapted from tutorial https://www.youtube.com/watch?v=6iTA4aZjfGY */

.form-submission-button-image {
  background: url(../../assets/images/email.svg);
  background-repeat: no-repeat;
}

.form-container {
  overflow: hidden;
  color: var(--glitch-white);
  background-color: var(--glitch-black);
  height: 37.5em;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 2em;
  position: relative;
}

.form-container-inner {
  padding-left: 20%;
  padding-right: 20%;
}

.form-group {
  position: relative;
  transition: all .1s;
}

input {
  color: var(--glitch-black);
  padding: 0;
  display: block;
  height: 3em;
  margin-bottom: 1.5em;
  width: 100%;
  border: none;
  outline: none;
}


textarea:focus {
  outline: none;
}

.form-label {
  backface-visibility: hidden;
  color: var(--glitch-black);
  display: block;
  opacity: 1;
  transform: translate(2.0em, -3.0em);
  transition: transform .25s;
  transform-origin: 11.0em 0;
  width: min(180px, 65%);
  border-radius: .5em;
}

.form-label:focus-within {
  color: var(--glitch-red);
}

.text-label {
  color: var(--glitch-black);
  display: block;
  opacity: 1;
  transform: translate(2.0em, -12.0em);
  transition: transform .25s;
  transform-origin: 11.0em 0;
  width: min(200px, 65%);
  border-radius: .5em;
}

@keyframes background-opacity {
  0% {
    background-color: transparent;
  }
  80% {
    background-color: transparent;
  }
  100% {
    background-color: var(--glitch-black);
  }
}

.form-control {
  backface-visibility: hidden;
  box-shadow: none;
  background-color: var(--glitch-white);
  border-radius: 1.5em;
  border-color: var(--glitch-faded);
  border-style: none none solid none;
  border-width: .25em;
  width: 100%;
  transition: all .1s;
  padding: 5px;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--glitch-aqua);
}


.form-control:focus + .text-label {
  color: var(--glitch-aqua);
  padding-left: 1.0em;
  background-color: var(--glitch-black);
  transition: background-color linear .25s;
  transform: translateY(-13.5em) scale(0.8);
}

.form-control:not(:placeholder-shown) + .text-label {
  color: var(--glitch-aqua);
  padding-left: 1.0em;
  background-color: var(--glitch-black);
  transform: translateY(-13.5em) scale(0.8);
}

.form-control:focus + .form-label {
  color: var(--glitch-aqua);
  padding-left: 1.0em;
  background-color: var(--glitch-black);
  transition: background-color linear .25s;
  transform: translateY(-4.5em) scale(0.8);
}

.form-control:not(:placeholder-shown) + .form-label {
  color: var(--glitch-aqua);
  padding-left: 1.0em;
  background-color: var(--glitch-black);
  transform: translateY(-4.5em) scale(0.8);
}


.form-group:focus-within {
  transform: scale(1.05, 1.05);
}

.form-group:invalid {
  color: var(--glitch-red);
}

label {
  display: block;
  height: 1.5em;
}

textarea {
  color: var(--glitch-black);
  min-height: 15em;
  margin-bottom: 1.5em;
  display: block;
  width: 100%;
  border-radius: 1em; 
  resize: none;
  max-height: 30em;
}

.contact-button-container {
  text-align: center;
}

.error-container {
  font-size: min(4.5vw, .8em);
  text-align: right;
  padding-right: 1.25em;
  padding-top: .065em;
  width: 100%;
  height: 1.5em;
  color: var(--glitch-red);
  position: absolute;
  bottom: 1.75em;
}

#form-instructions {
  padding-left: 2em;
  padding-right: 3.5em;
  padding-bottom: 1em;
}

.form-completion-heading {
  color: var(--glitch-white-two);
  z-index: 5000;
  font-size: 175%;
  text-align: center;
  margin-bottom: 0.25em;
}

.form-completion-p {
  color: var(--glitch-white-two);
  z-index: 5000;
  text-align: center;
}

.form-completion-text-container {
  
  border-radius: 2em;
  position: absolute;
  top: 5em;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  background-color: var(--glitch-dark-shadow-non-change);
  z-index: 6000;
}

/* --------- Armageddon ------------------------------------------------*/

.contact-form-sky {
  position: absolute;
  top: 0;
  left: 2em;
  width: calc(100% - 4em);
  height: 2em;
  border-bottom: 1px solid var(--glitch-white);
}

.contact-form-ground {
  z-index: 4999;
  position: absolute;
  bottom: 6em;
  left: 2em;
  top: 30.5em;
  height: 6em;
  width: calc(100% - 4em);
  border-top: 1px solid var(--glitch-white);
}

.contact-failed-svg-container {
  z-index: 4500;
  position: absolute;
  top: 2em;
  left: 2em;
  height: 28.5em;
  width: calc(100% - 4em);
}

.contact-failed-svg {
  height: 100%;
  width: 100%;
}

.email-link, .email-link:visited, 
    .email-link:hover, .email-link:active {
  color: var(--glitch-pink);
}

.email-link:hover {
  text-decoration: underline;
}

/* ------ fireworks ---------------------------- */

.contact-succeeded-svg-container {
  z-index: 4500;
  position: absolute;
  top: 2em;
  left: 2em;
  height: 28.5em;
  width: calc(100% - 4em);
}

.contact-succeeded-svg {
  height: 100%;
  width: 100%;
}

.firework-fade {
  animation: firework-fade 1s ease-out;
}

@keyframes firework-fade {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  #form-instructions {
    padding-right: 1.5em;
  }
  .form-container-inner {
    padding-right: 4em;
    padding-left: 4em;
  }
}

@media (max-width: 576px) {
  #form-instructions {
    padding-left: 1.5em;
  }
  .form-container-inner {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  .form-completion-text-container {
    font-size: 90%;
  }
}

@media (max-width: 500px) {
  .form-completion-text-container {
    font-size: 80%;
  }
}

@media (max-width: 460px) {
  .form-completion-text-container {
    font-size: 3.5vw;
  }
  .email-link {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13ch;
  }
}

@media (max-width: 330px) {
  .email-link {
    max-width: 9ch;
  }
}



@media (max-width: 420px) {
  #form-instructions {
    padding-left: 0.5em;
  }
  .form-container-inner {
    padding-right: .5em;
    padding-left: .5em;
  }
}

