.dark-button-container {
    margin-top: .4em;
    border-radius: 50%;
    position: absolute;
    width: 3.2em;
    height: 3.2em;
    background-color: var(--glitch-blue);
}

.dark-light-container-outer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.sun-up-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: sun-rotate ease-out 2s;
}

.sun-down-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: moon-rotate ease-out 2s;
    animation-fill-mode: forwards;
}

.sun-moon-container > div {
    flex: 1;
    text-align: center;
    position: relative;
}

.sun-moon-container > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blocking-div {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    background-color: var(--glitch-green);
    z-index: 9999;
}

@keyframes sun-rotate{
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes moon-rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}