.dark-light-container-outer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--glitch-aqua);
}

.sun-up-container {
    position: absolute;
    height: 120%;
    width: 120%;
    top: -10%;
    left: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: sun-rotate ease-in .25s; 
    backface-visibility: hidden;
}

.sun-down-container {
    position: absolute;
    height: 120%;
    width: 120%;
    top: -10%;
    left: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: moon-rotate ease-in .25s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
}

.sun-moon-container > div {
    flex: 1;
    text-align: center;
    position: relative;
    backface-visibility: hidden;
}

.sun-moon-container > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blocking-div {
    text-align: center;
    font-family: "neutra-text-italic", sans-serif;
    font-style: italic;
    font-size: .6em;
    position: absolute;
    width: 5em;
    height: 4em;
    top: 50%;
    left: 0;
    background-color: var(--glitch-white);
    z-index: 10999;
    color: inherit;
}

img > svg{
    fill: blue;
}

.blocking-div:hover {
    color: var(--glitch-pink);
}

@keyframes sun-rotate{
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moon-rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}