:root {
    --glitch-x-one: hsl(4, 57%, 49%);
    --glitch-x-two: hsl(21, 57%, 49%);
    --glitch-x-three: hsl(38, 57%, 49%);
    --glitch-x-four: hsl(55, 57%, 49%);
    --glitch-x-five: hsl(72, 57%, 49%);
    --glitch-x-six: hsl(89, 57%, 49%);
    --glitch-x-seven: hsl(106, 57%, 49%);
    --glitch-x-eight: hsl(123, 57%, 49%);
    --glitch-x-nine: hsl(140, 57%, 49%);
    --glitch-x-ten: hsl(157, 57%, 49%);
    --glitch-x-eleven: hsl(174, 57%, 49%);
    --glitch-x-twelve: hsl(191, 57%, 49%);
    --glitch-x-thirteen: #3682c4;
    --glitch-x-fourteen: #3659c4;
    --glitch-x-fifteen: hsl(242, 57%, 49%);
    --glitch-x-sixteen: hsl(259, 57%, 49%);
    --glitch-x-seventeen: hsl(276, 57%, 49%);
    --glitch-x-nineteen: hsl(303, 57%, 49%);
    --glitch-x-twenty: hsl(320, 57%, 49%);
    --glitch-x-twenty-one: hsl(337, 57%, 49%);
    --glitch-x-twenty-two: hsl(354, 57%, 49%);


    --glitch-yellow: hsl(55, 57%, 49%);
    --glitch-green: hsl(157, 57%, 49%);
    --glitch-aqua: hsl(191, 57%, 49%);
    --glitch-blue: hsl(242, 57%, 49%);
    --glitch-pink: hsl(320, 57%, 49%);
    --glitch-red: hsl(4, 57%, 49%);

    --glitch-black: hsl(242, 57%, 9%);
    --glitch-white: hsl(242, 57%, 89%);

    --glitch-light-shadow: hsla(242, 57%, 89%, 0.692);

}

.glitch-white {
    stroke: var(--glitch-white);
    fill: var(--glitch-white);
}

.glitch-red {
    stroke: var(--glitch-red);
    fill: var(--glitch-red);
}

.glitch-yellow {
    stroke: var(--glitch-yellow);
    fill: var(--glitch-yellow);
}

.glitch-green {
    stroke: var(--glitch-green);
    fill: var(--glitch-green);
}

.glitch-black {
    stroke: var(--glitch-black);
    fill: var(--glitch-black);
}

.glitch-blue {
    stroke: var(--glitch-blue);
    fill: var(--glitch-blue);
}

.glitch-aqua {
    stroke: var(--glitch-aqua);
    fill: var(--glitch-aqua);
}

.glitch-pink {
    stroke: var(--glitch-pink);
    fill: var(--glitch-pink);
}