.landing-container {
  font-family: "Neutra Text", sans-serif;
  position: relative;
}

.landing-text-one {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 200%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-two {
  position: absolute;
  top: 18%;
  left: 30%;
  font-size: 150%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-three {
  position: absolute;
  top: 26%;
  left: 40%;
  font-size: 150%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-one {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 200%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.logo-svg {
    width: 80%;
    aspect-ratio: 1.542857142857143;
}


.logo-background {
  fill: var(--glitch-white);
}

.point {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.point:hover
  {
    r: 1.6%;
    
  }
.logo-letter {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}


.s:hover {
    -webkit-animation: translate-letter-s 550ms ease-out;
    -moz-animation: translate-letter-s 550ms ease-out;
    animation: translate-letter-s 550ms ease-out;
}

