:root {
  --magic-number: 300px;
  --multiplier-one: 2;
  --multiplier-two: 4;
  --multiplier-three: 7;
}

.landing-container-outer {
  min-height: 45vh;
}

.landing-container {
  font-family: "Neutra Text", sans-serif;
  position: relative;
  min-height: 43vh;
  margin-top: 10vh;
}

.landing-text-container {
  color: var(--glitch-black);
}

.landing-svg-container {
  display: inline-block;
  margin-left: min(25%, 100vw - 420px);
  width: max(65%, 360px);
  text-align: right;
  margin-top: -5vw;
}
  

.landing-text-one {
  display: inline-block;
  margin-left: calc(var(--multiplier-one) * ((100% - var(--magic-number))/10));
  width: calc(100% - (var(--multiplier-one) * ((100% - var(--magic-number))/10)));
  font-size: 200%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-two {
  margin-top: 1.5em;
  width: 100px;
  margin-left: calc(var(--multiplier-two) * ((100% - var(--magic-number))/10));
  width: calc(100% - (var(--multiplier-two) * ((100% - var(--magic-number))/10)));
  font-size: 150%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-three {
  margin-top: 1.5em;
  margin-left: calc(var(--multiplier-three) * ((100% - var(--magic-number))/10));
  width: calc(100% - (var(--multiplier-three) * ((100% - var(--magic-number))/10)));
  font-size: 150%;
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
  filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.logo-svg {
  margin-top: 2em;
    width: 80%;
    aspect-ratio: 1.542857142857143;
}


.logo-background {
  fill: var(--glitch-white);
}

.point {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.point:hover
  {
    r: 1.6%;
    
  }
.logo-letter {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}


.s:hover {
    -webkit-animation: translate-letter-s 550ms ease-out;
    -moz-animation: translate-letter-s 550ms ease-out;
    animation: translate-letter-s 550ms ease-out;
}

