:root {
  --magic-number: 300px;
  --multiplier-one: 2;
  --multiplier-two: 4;
  --multiplier-three: 7;
}

.landing-container-outer {
  min-height: 45vh;
}

.landing-container {
  font-family: "Neutra Text", sans-serif;
  position: relative;
  min-height: 43vh;
}

.landing-text-container {
  color: var(--glitch-black);
}

.landing-svg-container {
  display: inline-block;
  margin-left: min(25%, 100vw - 420px);
  width: max(65%, 360px);
  text-align: right;
  margin-top: -5vw;
}
  

.landing-text-one {
  display: inline-block;
  margin-left: 2.5vw;
  width: 92.5vw;
  font-size: min(200%, 5vh);
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-two {
  margin-top: 1.5em;
  width: 100px;
  margin-left: 5vw;
  width: 90vw;
  font-size: min(220%, 5.5vh);
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.landing-text-three {
  margin-top: 1.5em;
  margin-left: 7.5vw;
  width: 87.5vw;
  font-size: min(240%, 6vh);
  -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}

.logo-svg {
    width: 70vh;
    max-width: 85%;
    aspect-ratio: 1.542857142857143;
}


.logo-background {
  fill: var(--glitch-white);
}

.point {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}


.logo-letter {
    -webkit-filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
        filter: drop-shadow( 4px 4px 3px var(--glitch-dark-shadow));
}


.s:hover {
    -webkit-animation: translate-letter-s 550ms ease-out;
    -moz-animation: translate-letter-s 550ms ease-out;
    animation: translate-letter-s 550ms ease-out;
}

@media (min-width: 767px) {
  .landing-text-one {
    margin-left: 10vw;
    width: 90vw;
  }
  .landing-text-two {
    margin-left: 20vw;
    width: 80vw;
  }
  .landing-text-three {
    margin-left: 30vw;
    width: 70vw;
  }
}

