/* inspiration for navbar at https://www.youtube.com/watch?v=HbBMp6yUXO0&t=257s */

:root {
    --hover-animation-duration: 250ms;
}

.navbar {
    padding-left: 35%;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 4rem;
    color: var(--glitch-black);
    background-image: linear-gradient(to bottom, var(--glitch-white), var(--glitch-light-shadow));
    z-index: 9000;
    padding-bottom: 2rem;
}



.nav-container {
    width: 100%;
    display: flex;
}

.nav-container-outer {
    display: inline-block;
    width: 100%;
}

.nav-container > li {
    flex: 1;
}


.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    color: var(--glitch-aqua);
}

.atab::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivateUp ease-out var(--hover-animation-duration);
}

ul {
    list-style: decimal;
    list-style-position: inside;
}

li::marker {
    letter-spacing: .5em;
    font-size: 90%;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    color: var(--glitch-dark-shadow);
}

.nav-li {
    position: relative;
}

.nav-li-initial::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivateUp ease-out var(--hover-animation-duration);
}

.nav-li-activate-left::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.nav-li-deactivate-left::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    right: 0;
    width: 0%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.nav-li-activate-right::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.nav-li-deactivate-right::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.nav-li-slide-right::after {
    position: absolute;
    content: "";
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}


.activate-left::before {
    position: absolute;
    content: "";
    top: -.5rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.activate-right::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.activate-down::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivateDown ease-out var(--hover-animation-duration);
}

.deactivate-left::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 0%;
    height: 20%;
    background: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.deactivate-right::before {
    position: absolute;
    content: "";
    top: -.5rem;
    left: 0;
    width: 0%;
    height: 20%;
    background: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.deactivate-up::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: var(--glitch-aqua);
    animation: navTabDeactivateDown ease-out var(--hover-animation-duration);
}

/* works for left and right by changing left to right in ::afters */

@keyframes navTabActivate {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes navTabActivateDown {
    0% {
        top: -1.0rem;
        opacity: 0;
        height: 0%;
    }
    100% {
        top: -.5rem;
        opacity: 1.0;
        height: 20%;
    }
}

@keyframes navTabActivateUp {
    0% {
        top: 1.75rem;
        opacity: 0;
        height: 0%;
    }
    100% {
        top: 1.25rem;
        opacity: 1.0;
        height: 20%;
    }
}

@keyframes navTabDeactivate {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes navTabDeactivateDown {
    0% {
        top: -.5rem;
        opacity: 1.0;
        height: 20%;
    }
    100% {
        top: -1.0rem;
        opacity: 0;
        height: 0%;
    }
}


a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: var(--glitch-black);
}

.mobile-nav-toggle-light {
    border: none;
    display: none;
}

.mobile-nav-toggle-dark {
    border: none;
    display: none;
}

.navbar.no-transition {
    transition: none;
}

.sr-only {
    display: none;
}

.mobile-nav-blur-container {
    background-color: transparent;
    display: none; 
    position: fixed;
    height: 100vh;
    width: 98%;
    z-index: 8000;
}

.mobile-nav-blur {
    height: 100%;
    width: 100%;
    background-color: var(--glitch-dark-shadow-non-change);
    filter: blur(2px);
    animation: opacity-animation 350ms ease-out;
}

@keyframes opacity-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

@media (max-width: 767px) {
    .navbar.no-transition {
    transition: none;
    }

    .navbar {
        padding: 0;
        flex-direction: column;
        inset: 0 0 0 30%;
        width: 70%;
        padding-top: min(30vh, 10rem);
        height: 100vh;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        background-image: linear-gradient(.25turn, var(--glitch-light-shadow), 10%, var(--glitch-white)); 
        font-size: 130%;
    }


    .nav-container-outer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        padding-left: 10%;
        padding-right: 10%;
        width: 70%;
        border-left: 1px solid var(--glitch-dark-shadow);
        border-right: 1px solid var(--glitch-dark-shadow);
        height: 400px;
        margin-left: auto;
    }

    .nav-container {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
    }

    .navbar-logo {
        top: 10rem;
        left: 2rem;
        font-size: 170% !important;
    }
    
    ul {
        flex-direction: column;
    }

    li {
        margin-top: 2rem;
    }

    .toggle-background {
        background-color: var(--glitch-white);
        position: absolute;
        z-index: 9998;
        width: 2em;
        height: 2em;
    }

    .mobile-nav-toggle-light {
        position: relative;
        overflow: hidden;
        display: block;
        position: fixed;
        border: none;
        border-radius: .5rem;
        background-color: var(--glitch-faded);
        background-image: url(../../assets/images/hamburger-light.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .mobile-nav-toggle-light[aria-expanded="true"] {
        background: url(../../assets/images/close-light.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mobile-nav-toggle-dark {
        overflow: hidden;
        display: block;
        position: fixed;
        border: none;
        border-radius: .5rem;
        background-color: var(--glitch-faded);
        background-image: url(../../assets/images/hamburger-dark.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .mobile-nav-toggle-dark[aria-expanded="true"] {
        background: url(../../assets/images/close-dark.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nav-li-activate-left::after, .nav-li-deactivate-left::after,
    .nav-li-activate-right::after, .nav-li-deactivate-right::after {
        top: 1.75rem;
    }
}


@media (min-width: 768px) {
    .mobile-nav-toggle-dark {
        display: none;
    };
    .mobile-nav-toggle-light {
        display: none;
    }
    .navbar-logo {
        top: .85rem;
        left: 2rem;
    }
    .nav-li-activate-left::after, .nav-li-deactivate-left::after,
    .nav-li-activate-right::after, .nav-li-deactivate-right::after {
        top: 1.25rem;
    }
}

.navbar-logo {
    position: absolute;
    font-size: 150%;
    font-weight: 900;
}

.navbar-logo:hover {
    cursor: pointer;
}

.logo-upper {
    color: var(--glitch-black);
}

.logo-lower {
    color: var(--glitch-dark-shadow);
}

.navbar-logo:hover > .logo-upper{
    color: var(--glitch-aqua);
}