/* inspiration for navbar at https://www.youtube.com/watch?v=HbBMp6yUXO0&t=257s */

:root {
    --hover-animation-duration: 250ms;
}


.navbar {
    padding-left: 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    color: var(--glitch-black);
    background-color: var(--glitch-white);
    border-left: 2px solid var(--glitch-black);
    backdrop-filter: sepia(90%);
    z-index: 9000;
    padding-bottom: 2rem;
}


ul {
    list-style: none;
}

.nav-container {
    width: 100%;
    display: flex;
}

.nav-container-outer {
    display: inline-block;
    width: 100%;

}

.nav-container > li {
    flex: 1;
}


.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    color: var(--glitch-aqua);
}

.atab::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivateUp ease-out var(--hover-animation-duration);
}

.nav-li {
    position: relative;
}

.nav-li-initial::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivateUp ease-out var(--hover-animation-duration);
}

.nav-li-activate-left::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.nav-li-deactivate-left::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    right: 0;
    width: 0%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.nav-li-activate-right::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.nav-li-deactivate-right::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    left: 0;
    width: 0%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.nav-li-slide-right::after {
    position: absolute;
    content: "";
    top: 1.25rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}


.activate-left::before {
    position: absolute;
    content: "";
    top: -.5rem;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.activate-right::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivate ease-out var(--hover-animation-duration);
}

.activate-down::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: var(--glitch-aqua);
    animation: navTabActivateDown ease-out var(--hover-animation-duration);
}

.deactivate-left::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 0%;
    height: 20%;
    background: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.deactivate-right::before {
    position: absolute;
    content: "";
    top: -.5rem;
    left: 0;
    width: 0%;
    height: 20%;
    background: var(--glitch-aqua);
    animation: navTabDeactivate ease-out var(--hover-animation-duration);
}

.deactivate-up::before {
    position: absolute;
    content: "";
    top: -.5rem;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: var(--glitch-aqua);
    animation: navTabDeactivateDown ease-out var(--hover-animation-duration);
}

/* works for left and right by changing left to right in ::afters */

@keyframes navTabActivate {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes navTabActivateDown {
    0% {
        top: -1.0rem;
        opacity: 0;
        height: 0%;
    }
    100% {
        top: -.5rem;
        opacity: 1.0;
        height: 20%;
    }
}

@keyframes navTabActivateUp {
    0% {
        top: 1.75rem;
        opacity: 0;
        height: 0%;
    }
    100% {
        top: 1.25rem;
        opacity: 1.0;
        height: 20%;
    }
}

@keyframes navTabDeactivate {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes navTabDeactivateDown {
    0% {
        top: -.5rem;
        opacity: 1.0;
        height: 20%;
    }
    100% {
        top: -1.0rem;
        opacity: 0;
        height: 0%;
    }
}


a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: var(--glitch-black);
}

.mobile-nav-toggle {
    border: none;
    display: none;
}

.sr-only {
    display: none;
}
@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem);
        height: 100vh;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
        border-left: 2px solid var(--glitch-dark-shadow);
    }
    
    ul {
        flex-direction: column;
    }

    li {
        margin-top: 2rem;
    }

    .toggle-background {
        background-color: var(--glitch-white);
        position: absolute;
        z-index: 9998;
        width: 2em;
        height: 2em;
    }

    .mobile-nav-toggle-light {
        position: relative;
        overflow: hidden;
        display: block;
        position: fixed;
        border: none;
        border-radius: .5rem;
        background-color: var(--glitch-faded);
        background-image: url(../../assets/images/hamburger-light.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .mobile-nav-toggle-light[aria-expanded="true"] {
        background: url(../../assets/images/close-light.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mobile-nav-toggle-dark {
        overflow: hidden;
        display: block;
        position: fixed;
        border: none;
        border-radius: .5rem;
        background-color: var(--glitch-faded);
        background-image: url(../../assets/images/hamburger-dark.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .mobile-nav-toggle-dark[aria-expanded="true"] {
        background: url(../../assets/images/close-dark.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}