
.parallax-outer {
  
}

.parallax {
  scrollbar-gutter: stable both-edges;
    scroll-behavior: auto;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1px;
    perspective: 1px;
    position: relative;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    /* https://www.magicpattern.design/tools/css-backgrounds */
    background-color: #d4d3f3;
    opacity: 0.2;
    background-image: radial-gradient(var(--glitch-black) 1.55px, var(--glitch-white) 1.55px);
    background-size: 31px 31px;

    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
  }


   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }