:root {
  --project-card-height: 300px;
  --project-card-image-margin: 10px;
}

.project-card-container {
    border: 2px solid var(--glitch-black);
    border-radius: 1em;
    box-sizing: border-box;
    width: 100%;
    height: var(--project-card-height);
    background: var(--glitch-black);
    position: relative;
    overflow: hidden;
}

.project-poster-container {
  border-radius: 5%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.project-image-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    padding-bottom: 1em;
}

.project-image {
    
    height: min(var(--project-card-height)/1.5, 40vw);
    margin: 0;
    padding: 0;
    filter: blur(1px);
    filter: saturate(150%);
}

 /*  user17382064 on Stack Overflow */
.tv-static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  border-radius: 5%;
  opacity: 0.15;
  background-image: repeating-radial-gradient(circle at 17% 32%, var(--glitch-white), 
      var(--glitch-black) 0.00085px);
  animation: back 5s linear infinite;
}

.project-details-container {
  background-color: var(--glitch-black);
  opacity: 0;
}

.fade-in{
  opacity: 1.0;
  transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
}

.tech-span:hover {
  color: var(--glitch-aqua);
  text-decoration: underline var(--glitch-aqua) solid;
}

.des-span:hover {
  color: var(--glitch-aqua);
}

.project-description {
  text-align: left;
  margin-top: .5em;
  margin-left: 5%;
  margin-right: 5%;
  color: var(--glitch-white);
  display: inline-block;
  width: 55%;
  font-size: 1.2rem;
}

.technologies-used {
  display: flex;
  color: var(--glitch-white);
  flex-direction: column;
  margin-top: .5em;
  display: inline-block;
  width: 15%;
  margin-left: 10%;
  margin-right: 5%;
  font-size: 1.2rem;
  text-decoration: underline var(--glitch-yellow) solid;
}

.project-card-buttons {
  position: absolute;
  top: 80%;
  left: 0;
  width: 90%;
  margin-left: 5%;
  height: 20%;
  font-size: 1.2rem;
  z-index: 3000;
  display: flex;
}

.project-card-buttons > div {
  flex: 1;
  gap: 20%;
}

.technologies-used > div {
  flex: 1;
}

.project-github-button {
  width: 80%;
  height: 50%;
}
.project-github-button-image {
  background: url(../../assets/images/github.svg);
  background-repeat: no-repeat;
}

.project-site-button {
  width: 80%;
  height: 50%;
}
.project-site-button-image {
  background: url(../../assets/images/website.svg);
  background-repeat: no-repeat;
}
.project-live-button {
  width: 90%;
  height: 50%;
}

.title-inner > h2 {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }
      #title-outer {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(var(--glitch-dark-shadow), rgba(0, 0, 0, 0)), repeating-linear-gradient(0, transparent, transparent 2px, var(--glitch-black) 3px, black 3px);
        background-size: cover;
        background-position: center;
        z-index: 1;
      }
      #title-inner {
        text-align: center;
      }
      .glitch {
        margin: 0;
        padding: 0;
        position: relative;
        color: var(--glitch-white);
        font-size: 2.5em;
        letter-spacing: .25em;
        animation: glitch-skew 0.5s infinite linear alternate-reverse;
      }
      .glitch::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -2px;
        text-shadow: -2px 0 var(--glitch-aqua), 2px 2px var(--glitch-pink);
        animation: glitch-anim2 1s infinite linear alternate-reverse;
      }
      @keyframes glitch-anim {
        0% {
          clip: rect(30px, 9999px, 42px, 0);
          transform: skew(0.85deg);
        }
        5% {
          clip: rect(59px, 9999px, 21px, 0);
          transform: skew(0.34deg);
        }
        10% {
          clip: rect(99px, 9999px, 15px, 0);
          transform: skew(0.01deg);
        }
        15% {
          clip: rect(25px, 9999px, 61px, 0);
          transform: skew(0.97deg);
        }
        20% {
          clip: rect(35px, 9999px, 42px, 0);
          transform: skew(0.94deg);
        }
        25% {
          clip: rect(39px, 9999px, 62px, 0);
          transform: skew(0.31deg);
        }
        30% {
          clip: rect(62px, 9999px, 55px, 0);
          transform: skew(0.9deg);
        }
        35% {
          clip: rect(36px, 9999px, 31px, 0);
          transform: skew(0.13deg);
        }
        40% {
          clip: rect(27px, 9999px, 26px, 0);
          transform: skew(0.01deg);
        }
        45% {
          clip: rect(55px, 9999px, 9px, 0);
          transform: skew(0.5deg);
        }
        50% {
          clip: rect(69px, 9999px, 73px, 0);
          transform: skew(0.85deg);
        }
        55% {
          clip: rect(53px, 9999px, 89px, 0);
          transform: skew(0.15deg);
        }
        60% {
          clip: rect(20px, 9999px, 28px, 0);
          transform: skew(0.62deg);
        }
        65% {
          clip: rect(81px, 9999px, 28px, 0);
          transform: skew(0.1deg);
        }
        70% {
          clip: rect(54px, 9999px, 93px, 0);
          transform: skew(0.3deg);
        }
        75% {
          clip: rect(22px, 9999px, 6px, 0);
          transform: skew(0.84deg);
        }
        80% {
          clip: rect(23px, 9999px, 5px, 0);
          transform: skew(0.55deg);
        }
        85% {
          clip: rect(24px, 9999px, 76px, 0);
          transform: skew(0.68deg);
        }
        90% {
          clip: rect(3px, 9999px, 29px, 0);
          transform: skew(0.48deg);
        }
        95% {
          clip: rect(43px, 9999px, 95px, 0);
          transform: skew(0.37deg);
        }
        100% {
          clip: rect(58px, 9999px, 66px, 0);
          transform: skew(0.05deg);
        }
      }
      @keyframes glitch-anim2 {
        0% {
          clip: rect(66px, 9999px, 28px, 0);
          transform: skew(0.12deg);
        }
        5% {
          clip: rect(85px, 9999px, 40px, 0);
          transform: skew(0.7deg);
        }
        10% {
          clip: rect(14px, 9999px, 33px, 0);
          transform: skew(0.81deg);
        }
        15% {
          clip: rect(48px, 9999px, 76px, 0);
          transform: skew(0.57deg);
        }
        20% {
          clip: rect(77px, 9999px, 16px, 0);
          transform: skew(0.4deg);
        }
        25% {
          clip: rect(15px, 9999px, 43px, 0);
          transform: skew(0.27deg);
        }
        30% {
          clip: rect(33px, 9999px, 11px, 0);
          transform: skew(0.84deg);
        }
        35% {
          clip: rect(50px, 9999px, 51px, 0);
          transform: skew(0.16deg);
        }
        40% {
          clip: rect(52px, 9999px, 11px, 0);
          transform: skew(0.21deg);
        }
        45% {
          clip: rect(39px, 9999px, 58px, 0);
          transform: skew(0.98deg);
        }
        50% {
          clip: rect(88px, 9999px, 42px, 0);
          transform: skew(0.42deg);
        }
        55% {
          clip: rect(98px, 9999px, 11px, 0);
          transform: skew(0.51deg);
        }
        60% {
          clip: rect(73px, 9999px, 73px, 0);
          transform: skew(0.81deg);
        }
        65% {
          clip: rect(82px, 9999px, 59px, 0);
          transform: skew(1deg);
        }
        70% {
          clip: rect(64px, 9999px, 84px, 0);
          transform: skew(0.94deg);
        }
        75% {
          clip: rect(41px, 9999px, 44px, 0);
          transform: skew(0.38deg);
        }
        80% {
          clip: rect(23px, 9999px, 35px, 0);
          transform: skew(0.54deg);
        }
        85% {
          clip: rect(20px, 9999px, 100px, 0);
          transform: skew(0.76deg);
        }
        90% {
          clip: rect(9px, 9999px, 96px, 0);
          transform: skew(0.64deg);
        }
        95% {
          clip: rect(29px, 9999px, 82px, 0);
          transform: skew(0.47deg);
        }
        100% {
          clip: rect(15px, 9999px, 94px, 0);
          transform: skew(0.76deg);
        }
      }
      @keyframes glitch-skew {
        0% {
          transform: skew(2deg);
        }
        10% {
          transform: skew(4deg);
        }
        20% {
          transform: skew(4deg);
        }
        30% {
          transform: skew(-2deg);
        }
        40% {
          transform: skew(4deg);
        }
        50% {
          transform: skew(2deg);
        }
        60% {
          transform: skew(-3deg);
        }
        70% {
          transform: skew(-1deg);
        }
        80% {
          transform: skew(-3deg);
        }
        90% {
          transform: skew(-2deg);
        }
        100% {
          transform: skew(-2deg);
        }
      }

  @keyframes back {
    from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

@media (max-width: 457px) {
  .project-image-container {
    padding-top: 110px;
  }
}

@media (min-width: 457px) {
  .project-image-container {
    padding-top: 60px;
  }
}