:root {
    --glitch-x-one: hsl(4, 57%, 49%);
    --glitch-x-two: hsl(21, 57%, 49%);
    --glitch-x-three: hsl(38, 57%, 49%);
    --glitch-x-four: hsl(55, 57%, 49%);
    --glitch-x-five: hsl(72, 57%, 49%);
    --glitch-x-six: hsl(89, 57%, 49%);
    --glitch-x-seven: hsl(106, 57%, 49%);
    --glitch-x-eight: hsl(123, 57%, 49%);
    --glitch-x-nine: hsl(140, 57%, 49%);
    --glitch-x-ten: hsl(157, 57%, 49%);
    --glitch-x-eleven: hsl(174, 57%, 49%);
    --glitch-x-twelve: hsl(191, 57%, 49%);
    --glitch-x-thirteen: hsl(208, 57%, 49%);
    --glitch-x-fourteen: hsl(225, 57%, 49%);
    --glitch-x-fifteen: hsl(242, 57%, 49%);
    --glitch-x-sixteen: hsl(259, 57%, 49%);
    --glitch-x-seventeen: hsl(276, 57%, 49%);
    --glitch-x-eighteen: hsl(293, 57%, 49%);
    --glitch-x-nineteen: hsl(310, 57%, 49%);
    --glitch-x-twenty: hsl(337, 57%, 49%);
    --glitch-x-twenty-one: hsl(354, 57%, 49%);


    --glitch-yellow: hsl(55, 57%, 49%);
    --glitch-green: hsl(157, 57%, 49%);
    --glitch-aqua: hsl(191, 57%, 49%);
    --glitch-blue: hsl(242, 57%, 49%);
    --glitch-pink: hsl(320, 57%, 49%);
    --glitch-red: hsl(354, 57%, 49%);

    --glitch-black: hsl(242, 57%, 9%);
    --glitch-white: hsl(242, 57%, 89%);

    --glitch-white-two: hsl(242, 57%, 89%);

    --glitch-faded: hsla(242, 57%, 89%, 0.392);

    --glitch-grey: hsl(243, 12%, 66%);

    --glitch-light-shadow: hsla(242, 57%, 89%, 0.692);
    --glitch-dark-shadow: hsla(240, 21%, 20%, 0.692);

   --glitch-dark-shadow-non-change: hsla(240, 21%, 20%, 0.692);

    --glitch-wild: hsl(4, 57%, 49%);

    --github-black: rgb(0,0,0);
    --linkedin-blue: rgb(10,102,194);
    --github-white: rgb(255, 255, 255);
    --linkedin-white: rgb(255, 255, 255);

}

.glitch-white-two {
    color: var(--glitch-white-two);
    stroke: var(--glitch-white-two);
    fill: var(--glitch-white-two);
}

.glitch-wild {
    color: var(--glitchx-wild);
    stroke: var(--glitchx-wild);
    fill: var(--glitch-wild);
}

.glitch-white {
    color: var(--glitch-white);
    stroke: var(--glitch-white);
    fill: var(--glitch-white);
}

.glitch-white-stroke {
    color: var(--glitch-white);
    stroke: var(--glitch-white);
}

.glitch-red {
    color: var(--glitch-red);
    stroke: var(--glitch-red);
    fill: var(--glitch-red);
}

.glitch-yellow {
    color: var(--glitch-yellow);
    stroke: var(--glitch-yellow);
    fill: var(--glitch-yellow);
}

.glitch-green {
    color: var(--glitch-green);
    stroke: var(--glitch-green);
    fill: var(--glitch-green);
}

.glitch-black {
    color: var(--glitch-black);
    stroke: var(--glitch-black);
    fill: var(--glitch-black);
}

.glitch-blue {
    color: var(--glitch-blue);
    stroke: var(--glitch-blue);
    fill: var(--glitch-blue);
}

.glitch-aqua {
    color: var(--glitch-aqua);
    stroke: var(--glitch-aqua);
    fill: var(--glitch-aqua);
}

.glitch-pink {
    color: var(--glitch-pink);
    stroke: var(--glitch-pink);
    fill: var(--glitch-pink);
}

.glitch-light-shadow {
    color: var(--glitch-light-shadow);
    stroke: var(--glitch-light-shadow);
    fill: var(--glitch-light-shadow);
}

.glitch-dark-shadow {
    color: var(--glitch-dark-shadow);
    stroke: var(--glitch-dark-shadow);
    fill: var(--glitch-dark-shadow);
}