.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
}

ul {
    list-style: none;
    background: white;
}

.nav-container {
    display: flex;
}

.nav-container > li {
    flex: 1;
    border: 1px solid black;
}

.active {
    background-color: magenta;
}
